{% extends "base.html" %}

{% block content %}
<h1 class="title">
    <form method="POST" action="/add_password">
        <div class="field">
            <div class="control">
                <input class="input is-large" type="name" name="name" placeholder="Name of service">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input class="input is-large" type="password" name="password" placeholder="Password for service">
            </div>
        </div>
        <button class="button is-block is-info is-large is-fullwidth">Add password</button>
    </form>
</form>
</h1>
{% endblock %}
