{% extends "base.html" %}

{% block content %}
<h1 class="title">
    {% with messages = get_flashed_messages() %}
	{% if messages %}
    	<div class="notification is-danger">
        	{{ messages[0] }}
    	</div>
	{% endif %}
	{% endwith %}
    <form method="POST" action="/change_password">
        <div class="field">
            <div class="control">
                <input class="input is-large" type="password" name="password_old" placeholder="Old password">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input class="input is-large" type="password" name="password_new" placeholder="New password">
            </div>
        </div>
        <button class="button is-block is-info is-large is-fullwidth">Change password</button>
    </form>
</form>
</h1>
{% endblock %}
