{% extends "base.html" %}

{% block content %}
<h1 class="title">
    {% with messages = get_flashed_messages() %}
	{% if messages %}
    	<div class="notification is-danger">
        	{{ messages[0] }}
    	</div>
	{% endif %}
	{% endwith %}
  <p>Share your passwords with:</p>
  <form method="POST" action="/share_passwords">
    <div class="field">
        <div class="control">
            <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
        </div>
    </div>
    <button class="button is-block is-info is-large is-fullwidth">Share</button>
</form>
</h1>
{% endblock %}
